<!DOCTYPE html>
<html>
	<head>
		<title>Samsung White</title>
		<link href = "https://fonts.googleapis.com/css?family = Quicksand:300,400,500,700,900" rel = "stylesheet">
		<link rel = "stylesheet" href = "fonts/icomoon/style.css">
		<link rel = "stylesheet" href = "css/bootstrap.min.css">
		<link rel = "stylesheet" href = "css/style.css">
		<style>
			.TextWrap { float: left; margin: 10px}
		</style>
	</head>
	<body data-spy = "scroll" data-target = ".site-navbar-target" data-offset = "300">
		<div class = "site-wrap">
			<div class = "site-mobile-menu site-navbar-target">
				<div class = "site-mobile-menu-header">
					<div class = "site-mobile-menu-close mt-3">
						<span class = "icon-close2 js-menu-toggle"></span>
					</div>
				</div>
			<div class = "site-mobile-menu-body"></div>
			</div>   
			<div class = "border-bottom top-bar py-2 bg-dark" id = "home-section">
				<div class = "container">
					<div class = "row"></div>
				</div> 
			</div>
			<!-- header for munu -->
			<header class = "site-navbar py-4 bg-white js-sticky-header site-navbar-target" role = "banner">
				<div class = "container">
					<div class = "row align-items-center">
						<div class = "col-11 col-xl-2">
							<h1 class = "mb-0 site-logo"><a href = "../index.php" class = "text-black h2 mb-0"><span class = "text-primary">Samsung White</span> </a></h1>
						</div>
						<div class = "col-12 col-md-10 d-none d-xl-block">
							<nav class = "site-navigation position-relative text-right" role = "navigation">
								<ul class = "site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
									<li><a href = "../index.php" class = "nav-link">Home</a></li>
									<li><a href = "about.php" class = "nav-link">About Us</a></li>
									<li><a href = "contact.php" class = "nav-link">Contact Us</a></li>
									<li><a href = "products.php" class = "nav-link">Products</a></li>
									<li><a href = "registration.php" class = "nav-link">Registration</a></li>
								</ul>
							</nav>
						</div>
						<div class = "d-inline-block d-xl-none ml-md-0 mr-auto py-3" style = "position: relative; top: 3px;"><a href = "#" class = "site-menu-toggle js-menu-toggle text-black"><span class = "icon-menu h3"></span></a></div>
					</div>
				</div>
			</header>
			<!-- end of header for menu-->
			<!-- intro artwork for products -->
			<div class = "site-blocks-cover overlay" style = "background-image: url(images/samsung_ecosystem.jpg);" data-aos = "fade" data-stellar-background-ratio = "0.5">
				<div class = "container">
					<div class = "row align-items-center justify-content-center text-center">
						<div class = "col-md-12" data-aos = "fade-up" data-aos-delay = "400">    
							<div class = "row justify-content-center mb-4">
								<div class = "col-md-8 text-center">
									<h1>We sell <span class = "typed-words"></span></h1>
									<p class = "lead mb-5"> Take a look at our amazing products</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of intro artwork for products -->	
			<!-- display message for products page -->
			<section class = "site-section">
				<div class = "container">
					<h1 class = "text-primary">Here are our products</h1>
					<section id = "fold">
						<h3>Samsung Galaxy Fold 2</h3>
						<img class = "TextWrap" src = "images/samsung_fold2.png" alt = "Samsung Galaxy Fold 2" width = "345 px" height = "175 px">
						<h5>Item Descruption: </h5><br><p> The Samsing &emsp; Falaxy Fold 2 is out newest invention. we have been researching foldable
							screens for one purpose, to create the phone that can do anything. when in the folded mode this phone can be used 
							just like any other phone, however we have added a whole load a new features. Mutiple cameras for the best shot 
							possible. Our new screen technology creates the best immersive viewing possible for you pleasure. Want to watch 
							movies when you have a little spare time, no problem, open the screens for a total of 7.3 inch display diagonally.
						</p><br>
						<div><a data-fancybox data-ratio = "2" class = "btn btn-primary btn-md" href = "item1.php">See Specs</a>
						<button data-fancybox data-ratio = "2" class = "btn btn-primary btn-md">Add to Cart</button></div>
					</section>
					<section id = "tab">
						<h3>Samsung Galaxy Tab S6</h3>
						<img class = "TextWrap" src = "images/samsung_tabs6.png" alt = "Samsung Galaxy Tab S6" width = "345 px" height = "175 px">
						<h5>Item Descruption: </h5><br><p>The Samsung Galaxy Tab S6 is the best tablet for content cusumption and productivity. 
							With a battey life of 13 hours. You leave the charger at home and still go through a full day. Built-in apps optimised for 
							all types of productivity. This tablet is great for content creators, business elites, students, and families. with the included
							pen and keyboard, this tablet is only limited by your imagination.
						</p><br>
						<div><a data-fancybox data-ratio = "2" class = "btn btn-primary btn-md" href = "item2.php">See Specs</a>
						<button data-fancybox data-ratio = "2" class = "btn btn-primary btn-md">Add to Cart</button></div>
					</section>
					<section id ="tv">
						<h3>Samsung 85" Class Q950TS QLED 8K UHD HDR Smart TV (2020)</h3>
						<img class = "TextWrap" src = "images/samsung_qled8k.png" alt = "Samsung 8K smart tv" width = "345 px" height = "175 px">
						<h5>Item Descruption: </h5><br><p>The Samsung 85" Class Q950TS QLED 8K UHD HDR Smart TVkeyboard is our new flagship series in our
						line up of TVs. This TV is uses QLED technology makes colors sharper, brighter, and better detailed. With bixby included we transformed
						this froma regular TV to the smartest TV possible. There is no need to pay for movies tickets anymore, This TV brings the theater to you.
						Movies aren't your game? no problem, watching the game on this tv will have you feeling like your sitting front row and have your friends
						saying WOW!
						</p><br>
						<div><a data-fancybox data-ratio = "2" class = "btn btn-primary btn-md" href = "item3.php">See Specs</a>
						<button data-fancybox data-ratio = "2" class = "btn btn-primary btn-md">Add to Cart</button></div>
					</section>
					<section id ="fridge">
						<h3>Samsung 22 cu. ft. Family Hub™ Counter Depth 4-Door Flex™ Refrigerator in Stainless Steel</h3>
						<img class = "TextWrap" src = "images/samsung_refrigerator.png" alt = "Samsung smart fridge" width = "345 px" height = "175 px">
						<h5>Item Descruption: </h5><br><p> This refrigerator is the perfect fit for every family. A large amount of storage 7 full drawers for storage
							and 6 customizable shelves to mix and match for every family. A included wine rack, ice maker, and water filter / dispenser and a family hub. 
							3 built-in camera to view every inch without opening the doors to save money on eletricity. Is there anything this refriderator can't do?
						</p><br>
						<div><a data-fancybox data-ratio = "2" class = "btn btn-primary btn-md" href = "item4.php">See Specs</a>
						<button data-fancybox data-ratio = "2" class = "btn btn-primary btn-md">Add to Cart</button></div>
					</section>
					<br><br><br><br>
					<button data-fancybox data-ratio = "2" class = "btn btn-primary btn-md">Checkout</button></div>
				</div>
			</section>
			<!-- end of display message for products page -->
			<footer class = "site-footer">
				<div class = "container">
					<div class = "row">
						<div class = "col-md-3">
							<h2 class = "footer-heading mb-4">Subscribe Newsletter</h2>
							<form action = "#" method = "post">
								<div class = "input-group mb-3">
									<input type = "text" class = "form-control border-secondary text-white bg-transparent" placeholder = "Enter Email" aria-label = "Enter Email" aria-describedby = "button-addon2">
									<div class = "input-group-append">
										<button class = "btn btn-primary text-white" type = "button" id = "button-addon2">Send</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class = "row pt-5 mt-5 text-center">
						<div class = "col-md-12">
							<div class = "border-top pt-5">
								<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
									Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class = "icon-heart text-danger" aria-hidden = "true"></i> by <a href = "https://colorlib.com" target = "_blank" >Colorlib</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- site-wrap -->
		<script src = "js/jquery-3.3.1.min.js"></script>
		<script src = "js/jquery-migrate-3.0.1.min.js"></script>
		<script src = "js/owl.carousel.min.js"></script>
		<script src = "js/jquery.stellar.min.js"></script>
		<script src = "js/jquery.easing.1.3.js"></script>
		<script src = "js/aos.js"></script>
		<script src="js/typed.js"></script>
            <script>
				var typed = new Typed('.typed-words', {
				strings: ["Phones","Tablets"," Kitchen appliances", "Televisions"],
				typeSpeed: 80,
				backSpeed: 80,
				backDelay: 4000,
				startDelay: 1000,
				loop: true,
				showCursor: true
				});
            </script>
		<script src = "js/main.js"></script>
		<!-- end of site-wrap -->
	</body>
</html>